<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <mat-table class="student-table" [dataSource]="studentsDataSource" id="student-table">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Student Name </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="name">
        {{ row.name }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row id="name-row" (click)="displayStudent(row)" *matRowDef="let row; columns: displayedColumns">
    </mat-row>
  </mat-table>
</div>
