<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h1>{{ group.name }}</h1>
  <h2>{{ date | date }}</h2>

  <table id="exercise-table">
    <tr>
      <th>
        Exercise
      </th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Rest</th>
      <th>Comment</th>
    </tr>
    <tr *ngFor="let recExercise of recExercises$ | async">
      <td>
        {{ recExercise.name }}
      </td>

      <td>
        {{ recExercise.sets }}
      </td>

      <td>
        {{ recExercise.reps }}
      </td>

      <td>
        {{ recExercise.weight }}
      </td>

      <td>
          {{ recExercise.rest }}
      </td>

      <td>
          {{ recExercise.coachComment }}
        </td>
      <td>
        <mat-icon id="edit" class="material-icons md-dark md-inactive" (click)="openEditExerciseDialog(recExercise)">edit</mat-icon>
        <mat-icon id="delete" class="material-icons md-dark md-inactive" (click)="deleteRecExercise(recExercise)">delete</mat-icon>
      </td>
    </tr>
  </table>

  <!-- <ul>
    <li *ngFor="let recExercise of recExercises$ | async">
      {{ recExercise.name }}
    </li>
  </ul> -->

  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <div class="blocks">
          <button
            (click)="openNewExerciseDialog()"
            button="submit"
            mat-raised-button
            color="secondary"
            id="add-exercise-button"
          >
            <mat-icon>add</mat-icon> Add Exercise
          </button>
          <button
            id="workout-button"
            (click)="saveWorkout()"
            button="submit"
            mat-raised-button
            color="primary"
            routerLink="/admin-home"
          >
            Save Workout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
