<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h1 *ngIf="group$ | async as group"> {{ group.name }} </h1>
  <h2 *ngIf="date$ | async as selectedDate">{{ selectedDate | date }}</h2>
  <table
    id="exercise-table"
    mat-table
    [dataSource]="recExercises$ | async"
    class="mat-elevation-z8"
  >
    <!-- Sets Column -->
    <ng-container matColumnDef="sets">
      <th mat-header-cell *matHeaderCellDef>Sets</th>
      <td mat-cell id="sets-cell" *matCellDef="let element">
        {{ element.sets }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Exercise</th>
      <td mat-cell id="name-cell" *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell id="weight-cell" *matCellDef="let element">
        {{ element.weight }}
      </td>
    </ng-container>

    <!-- Reps Column -->
    <ng-container matColumnDef="reps">
      <th mat-header-cell *matHeaderCellDef>Reps</th>
      <td mat-cell id="reps-cell" *matCellDef="let element">
        {{ element.reps }}
      </td>
    </ng-container>

    <!-- Rest Column -->
    <ng-container matColumnDef="rest">
      <th mat-header-cell *matHeaderCellDef>Rest</th>
      <td mat-cell id="rest-cell" *matCellDef="let element">
        {{ element.rest }}
      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label=" ">
          <mat-icon id="edit" class="material-icons md-dark md-inactive" (click)="openEditExerciseDialog(row)">edit</mat-icon>
        <mat-icon id="delete" class="material-icons md-dark md-inactive" (click)="deleteRecExercise(row)">delete
        </mat-icon>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <div class="blocks">
          <button
            (click)="openNewExerciseDialog()"
            button="submit"
            mat-raised-button
            color="secondary"
          >
            <mat-icon id="add-button">add</mat-icon> Add Exercise
          </button>
          <button id="workout-button" (click)="saveWorkout()" button="submit" mat-raised-button color="primary">Save Workout</button>
        </div>
      </div>
    </div>
  </div>
</div>
