<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Recommended Workout
      </mat-panel-title>
    </mat-expansion-panel-header>

    <table
      mat-table
      [dataSource]="recExercisesDataSource"
      class="mat-elevation-z8"
      id="recommended-exercises-table"
    >
      <!-- Sets Column -->
      <ng-container matColumnDef="sets">
        <th mat-header-cell *matHeaderCellDef>Sets</th>
        <td mat-cell *matCellDef="let element">{{ element.sets }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Exercise</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
      </ng-container>

      <!-- Reps Column -->
      <ng-container matColumnDef="reps">
        <th mat-header-cell *matHeaderCellDef>Reps</th>
        <td mat-cell *matCellDef="let element">{{ element.reps }}</td>
      </ng-container>

      <ng-container matColumnDef="rest">
        <th mat-header-cell *matHeaderCellDef>Rest</th>
        <td mat-cell id="rest-cell" *matCellDef="let element">
          {{ element.rest }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Workout
      </mat-panel-title>
    </mat-expansion-panel-header>

    <table
      mat-table
      [dataSource]="exerciseDataSource"
      class="mat-elevation-z8"
      id="student-exercise-table"
    >
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="setNumber">
        <th mat-header-cell *matHeaderCellDef>Set Number</th>
        <td mat-cell *matCellDef="let element">{{ element.setNumber }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Exercise</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="reps">
        <th mat-header-cell *matHeaderCellDef>Reps</th>
        <td mat-cell *matCellDef="let element">{{ element.reps }}</td>
      </ng-container>

      <ng-container matColumnDef="rest">
        <th mat-header-cell *matHeaderCellDef>Rest</th>
        <td mat-cell id="rest-cell" *matCellDef="let element">
          {{ element.rest }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedExerciseColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedExerciseColumns"></tr>
    </table>
  </mat-expansion-panel>
  <h2>Set {{ setNumber }}</h2>
  <div fxFlex fxLayout fxLayoutAlign="center center">
    <form class="example-form" id="exercise-form" (ngSubmit)="submitForm()">
      <mat-form-field id="exercise-select">
        <mat-label>Select Your Current Exercise</mat-label>
        <mat-select [(value)]="exercise.name">
          <mat-option
            *ngFor="let recExercise of recExercisesDataSource"
            [value]="recExercise.name"
            matInput
          >
            {{ recExercise.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxflex="row">
        <mat-form-field class="example-half-width reps">
          <input
            type="number"
            matInput
            placeholder="Reps"
            [(ngModel)]="exercise.reps"
            name="reps"
          />
        </mat-form-field>
        <span></span>
        <mat-form-field id="input-weight" class="example-half-width weight">
          <input
            type="number"
            matInput
            placeholder="Weight"
            [(ngModel)]="exercise.weight"
            name="weight"
          />
        </mat-form-field>
      </div>
      <mat-form-field class="example-full-width">
        <textarea
          matInput
          placeholder="Comments"
          [(ngModel)]="exercise.comment"
          name="comment"
        ></textarea>
      </mat-form-field>
      <button
      id="next-btn"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Next Set
    </button>
    </form>
  </div>
</div>
