table {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
  }
th {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #668cff;
}
.example-form {
    min-width: 150px;
    width: 100%;
  }
.example-full-width {
    width: 100%;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}
.reps {
    margin-right: 3rem;
}
mat-expansion-panel {
  width: 100%;
}
mat-panel-title {
  justify-content: center;
}
#next-btn {
  margin-bottom: 1rem;
}
#group-select {
  width: 20%;
  margin: 1.5rem;
}
#exercise-select {
  width: 100%;
}
